{% extends "./release_base.html" %}
{% block main%}

<style>
	<!-- 设置table内容居中 -->
	.table th, .table td {
	text-align: center;
	}
</style>

<div class="col-md-10">
	<form class="form-inline" action="/new_app_dev_node" method="post" role="form">
		{% csrf_token %}
		<input class="form-control" type="hidden" readonly="readonly" name="app_id"  value="{{ app_id }}" >
		<div class="form-group">
			<label class="control-label">选择开发分支: &nbsp</label>
			<select class="form-control" name="branch">
				{%  for d in dev_branch %}
					<option>{{d.id}}:{{d.name}}</option>
				{% endfor %}
			</select>
		</div>
		&nbsp&nbsp&nbsp&nbsp
		<div class="form-group">
			<label class="control-label">选择开发环境: &nbsp</label>
			<select class="form-control" name="env">
				{%  for d in dev_env %}
					<option>{{d.id}}:{{d.name}}</option>
				{% endfor %}
			</select>
		</div>
		&nbsp&nbsp&nbsp&nbsp
		<div class="form-group">
			<label class="control-label">选择commit(空表示最新): &nbsp</label>
			<input class="form-control" type="text" name="commit" placeholder="LATEST"/>
		</div>
		<p></p>
		<input type="submit"  value="部署开发环境" class="btn btn-primary"/>&nbsp&nbsp&nbsp&nbsp
		<a href="/app_dev_mng?app_id={{app_id}}" class="btn btn-primary">刷新环境状态</a>
	</form>
	<p></p><p></p>
	<table class="table table-bordered form-inline" align="center">
		<thead >
		<tr>
			<th>
				<div class="checkbox ">
					<label>
						<input type="checkbox" id="checkAll" value="">
					</label>
				</div>
			</th>
			<th>编号</th> <th>状态</th> <th>分支名称</th> <th>环境名称</th> <th>Commit</th> <th>创建时间</th>  <th>创建人</th>
			<!-- <th>版本前缀</th> <th>SCM工具</th> <th>SCM库URL</th> <th>部署路径</th> <th>打包jenkins任务</th> <th>自动化测试jenkins任务</th>
            -->
			<th>常用操作</th>
		</tr>
		</thead>
		<tbody >
		{%  for d in dev_node %}
		<!-- 显示不同背景 -->
		<tr {% if forloop.counter|divisibleby:"2"  %} class="active"
		{% else %} class="success"  {% endif %}  >
		<td>
			<input type="checkbox" name="subBox" value="{{d.id}}" >
		</td>
		<td>{{ d.id }}</td>
		<td>{{ d.status }}</td>
		<td>{{ d.branch_name }}</td>
		<td>{{ d.env_name }}</td>
		<td>{{ d.commit }}</td>
		<td>{{ d.create_time }}</td>
		<td>{{ d.created_by }}</td>
		<!--
        <td>{{ d.version_prefix }}</td>
        <td>{{ d.scm_tool }}</td>
        <td>{{ d.repo_url }}</td>
        <td>{{ d.deploy_path }}</td>
        <td>{{ d.package_job }}</td>
        <td>{{ d.auto_test_job }}</td>
        -->
		<td>&nbsp<a href="/app_dev_node_detail?id={{d.id}}" class="btn btn-primary">部署详情</a>
			&nbsp<a href="/app_ws?id={{d.id}}" onclick="return false;" class="btn btn-primary">分支待集成</a>
		</td>
		</tr>
		{% endfor %}
		</tbody>

	</table>
</div>
{% endblock %}