{% extends "./release_base.html" %}
{% block main%}

<style>
	<!-- 设置table内容居中 -->
	.table th, .table td {
	text-align: center;
	}
</style>

<div class="col-md-10">
	<form class="form-inline" action="/app_int_mng_with_env" method="post" role="form">
		{% csrf_token %}
		<input class="form-control" type="hidden" readonly="readonly" name="app_id"  value="{{ app_id }}" >
		<div class="form-group">
			<label class="control-label">选择测试环境: &nbsp</label>
			<select class="form-control" name="int_env">
				{%  for d in int_env %}
					<option>{{d.id}}:{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<input type="submit"  value="进入测试环境" class="btn btn-primary"/>
	</form>
</div>
{% endblock %}