{% extends "./release_base.html" %}
{% block main%}
<div class="col-md-10">
	<!-- bootstrap 特性容器  <div class="col-md-10">-->
	<!-- <div class="container"> -->
	<form action="/prod_add" method="post" role="form">
		{% csrf_token %}
		<div class="form-group">
			<label class="control-label">产品名称：&nbsp </label>
			<input class="form-control" type="text" name="name" placeholder="enter product name"/>
		</div>
		<div class="form-group">
			<label class="control-label">产品状态：&nbsp </label>
			<input class="form-control" type="number" name="status" value="1"/>
		</div>
		<div class="form-group">
			<label class="control-label">负责人：&nbsp </label>
			<input class="form-control" type="text" name="owner" placeholder="enter owner"/>
		</div>
		<div class="form-group">
			<label class="control-label">产品说明：&nbsp </label>
			<input class="form-control" type="text" name="note" placeholder="enter the note"/>
		</div>
		<input type="submit"  value="添加产品" class="btn btn-primary"/>
	</form>
	<!--  </div> -->
</div>
{% endblock %}