{% extends "./cmdb_base.html" %}

{% block main%}
	

<style>
<!-- 设置table内容居中 -->
 .table th, .table td { 
		text-align: center; 
}
</style>

<!-- 以Bootstrap3为模板 构建前台界面 -->
<div class="col-md-10">
<form action="/app_queryByID" method="get" role="form">
 <div class="form-inline">
  <label class="control-label">应用编号: &nbsp</label><input class="form-control" type="text" name="id" placeholder="Enter id"/>
  <input type="submit" id="queryById" value="查询" class="btn btn-default "/>
  </div>
</form>
<p></p>
<table class="table table-bordered form-inline" align="center">
<thead >
	<tr>
	<th>
		<div class="checkbox ">
		<label>
			<input type="checkbox" id="checkAll" value="">
		</label>
		</div>
	</th>
	<th>应用编号</th>  <th>应用名称</th> <th>应用状态</th> <th>所属产品</th> <th>创建时间</th>  <th>线上版本号</th>
		<!-- <th>版本前缀</th> <th>SCM工具</th> <th>SCM库URL</th> <th>部署路径</th> <th>打包jenkins任务</th> <th>自动化测试jenkins任务</th>
		-->
		<th>常用操作</th>
	</tr>
</thead>
<tbody >
{%  for d in data %}
<!-- 显示不同背景 -->
<tr {% if forloop.counter|divisibleby:"2"  %} class="active" 
	{% else %} class="success"  {% endif %}  > 
 <td>
    <input type="checkbox" name="subBox" value="{{d.id}}" >
</td>
 <td>{{ d.id }}</td>
 <td>{{ d.name }}</td> 
 <td>{{ d.status }}</td>
 <td>{{ d.prod_id }}</td>
 <td>{{ d.create_time }}</td>
 <td>{{ d.version }}</td>
<!--
<td>{{ d.version_prefix }}</td>
<td>{{ d.scm_tool }}</td>
<td>{{ d.repo_url }}</td>
<td>{{ d.deploy_path }}</td>
<td>{{ d.package_job }}</td>
<td>{{ d.auto_test_job }}</td>
-->
 <td>&nbsp<a href="/app_env_mng?app_id={{d.id}}" class="btn btn-primary">应用环境管理</a>
 </td>
 </tr>
{% endfor %}
</tbody>

</table>
<!-- 页面导航栏 -->
 <p>
	{% if data.has_previous %}
		<a href="?page={{ data.previous_page_number }}">上一页</a>
	{% endif %}
		{# data.paginator.number_pages 返回总页数 #}
		第{{ data.number }}页 | 共{{ data.paginator.num_pages }}页
	{% if data.has_next %}
		<a href="?page={{ data.next_page_number }}">下一页</a>
	{% endif %}
</p>
	
</div>

{% endblock %}